################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Utility/obj/Debug
/.vs/Components/v16
